@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* CSS resets start */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* CSS resets Ends */

body {
    font-family: Outfit;
    font-size: 15px;
    background-color: var(--light-gray);
    color: var(--grayish-blue);
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    width: 320px;
    padding: 16px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.qr-img {
    border-radius: 10px;
}

.qr-content {
    padding: 24px 16px 40px;
}

.card-heading {
    font-size: 21px;
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 16px;
}